<!doctype html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <header>

        </header>
        <main>
            <div>
                <h1>Signup</h1>
                <form method='post'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Sign Up</button>
                </form>
            </div>
        </main>
    </body>
</html>